
@model Movies_VM

@{
    ViewData["Title"] = "Add Move"; 
}
<h2>
    @(Model.Id > 0 ? "Edit" : "Create") Move
</h2>
<section class="row justify-content-between">
    <div class="col-md-4">
        <form method = "POST" asp-action="@(Model.Id > 0 ? "Edit" : "Create")" enctype="multipart/form-data" >
            <inbut type="hidden" asp-for="id" />
            <div class="form-group" >
                <lable class="text-muted" asp-for = "Title">Title</lable>
                <input type= "text" class = "form-control" asp-for = "Title" maxlength="250"  />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <lable class="text-muted" asp-for="GenreId">Genre</lable>
                <select class="form-control" asp-for="GenreId" asp-items="@(new SelectList(Model.Genres,"Id","Name"))" > 
                    <option></option>
                </select>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
              <div class="form-group w-50">
                <lable class="text-muted" asp-for = "Year">Year</lable>
                <input type= "number" id="year" class = "form-control" asp-for = "Year" value = "@(Model.Year > 0 ? Model.Year : "")" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <lable class="text-muted" asp-for = "Rate">Rate</lable>
                <input type= "number" class = "form-control" asp-for = "Rate" value = "@(Model.Rate > 0 ? Model.Rate : "")" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
           <div class="form-group" >
                <lable class="text-muted" asp-for = "StoryLine">StoryLine</lable>
                <textarea type= "text" class = "form-control" asp-for = "StoryLine" maxlength="2500" > </textarea>
                <span asp-validation-for="StoryLine" class="text-danger"></span>
            </div>
            <div class="custm-file" >
                <input type= "file"  id="Poster" class = "custm-file-input" asp-for = "Poster" accept="image/*"  onchange="loadFile(event)"  /> 
                <lable class="text-muted" asp-for = "Poster">Poster</lable>
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
          <div class="mt-4">
            <button type="submit" class="  btn btn-primary"  asp-action=@(Model.Id > 0 ? "Edit" : "Create")>@(Model.Id > 0 ? "Edit" : "Create")</button>
            <a class="btn btn-danger"  asp-action="Index">Cancel</a>
          </div>
        </form>
    </div>
    <div class="col-md-4">
        <div id ="Poster-Contaner" class="Poster-Contaner @(Model.Id > 0 ? "" : "d-none")"">
        <img src="@(Model.Id > 0 ? $"data:image/*;base64,{Convert.ToBase64String(Model.Poster)}" : string.Empty)" alt="Poster" class="img-thumbnail" />
        </div>
    </div>  

</section>
@section scripts{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
    <script src="/js/movies.js"></script>
}